In [19]:
## Import the necessary packages

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression

In [21]:
df=pd.read_csv('untitled')

In [22]:
df.head()

   AREA  BR  AGE   PRICE
0  2600   3   20  550000
1  3000   4   15  565000
2  3200   5   18  610000
3  3600   6   30  695000
4  4000   7    8  760000

In [23]:
df.shape

(5, 4)

In [24]:
reg=LinearRegression()
reg.fit(df[['AREA','BR','AGE']],df.PRICE)

LinearRegression()

In [25]:
corr=df.corr()
corr

           AREA        BR       AGE     PRICE
AREA   1.000000  0.994850 -0.224033  0.975998
BR     0.994850  1.000000 -0.177601  0.972728
AGE   -0.224033 -0.177601  1.000000 -0.171361
PRICE  0.975998  0.972728 -0.171361  1.000000

In [26]:
reg.coef_

array([  173.52941176, -3470.58823529,   588.23529412])

In [27]:
reg.intercept_

73470.58823529398

In [28]:
reg.predict([[3700,8,5]])

array([690705.88235294])

In [29]:
 137.25*3700-6825*8-26025*5+383725.0000000001

706825.0000000001